{% extends 'base.html' %}

{% block title %}
    Antipode Coefficient
{% endblock %}

{% block head %}
    <script src="https://api.mapbox.com/mapbox-gl-js/v1.8.1/mapbox-gl.js"></script>
    <link href="https://api.mapbox.com/mapbox-gl-js/v1.8.1/mapbox-gl.css" rel="stylesheet"/>

    <style>
        #marker-a {
            background-image: url('{{ url_for('static', filename='img/A.png') }}');
        }

        #marker-b {
            background-image: url('{{ url_for('static', filename='img/B.png') }}');
        }

        #marker-antipode-a {
            background-image: url('{{ url_for('static', filename='img/antiA.png') }}');
        }
    </style>

{% endblock %}

{% block body %}
    <div class="container">

        <div class="jumbotron p-4 p-md-5 text-dark rounded bg-dark" style="background-image: url('{{ url_for("static", filename="img/antipode_map.png") }}'); background-repeat: no-repeat; background-position: center; background-size: cover; background-attachment: fixed;">
            <div class="col-md-6 px-0">
                <h1 class="display-4 font-italic mb-5">How close are two locations to being opposite?</h1>
                <p class="lead my-3"><strong>The Antipode Coefficient:</strong> If you take two locations, A & B, how far is the B from A compared to the antipode of A? Or simply, what percentage of the way to the other side of the Earth, is B from A?</p>
                <p class="">e.g. New York is 27% of the way around the world from Oxford, where 100% would be if you drilled a hole from Oxford through the center of the Earth and popped out the other side.</p>

                <br>

                <p class="lead my-3"><strong>The Wardell Antipode Namesake Coefficient:</strong> The antipode coefficient, except B is A's namesake. </p>
                <p class="mt-0">e.g. Camberwell in Melbourne is named after Camberwell in London and is 84% of the way to the opposite side of the Earth</p>

                <br>

                <p class="lead my-3"><strong>Challenge:</strong> Can you find the greatest Wardell Antipode Namesake Coefficient (WANC)?</p>

                <p class="lead mb-0"><a href="#calculate" class="font-weight-bold btn-outline-dark">Calculate</a></p>
            </div>
        </div>


        <section id="calculate">
            <div class="row mb-2">

                <div class="col-md-6">
                    <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm position-relative d-flex h-md-650">
                        <div class="col p-4 d-flex flex-column position-static mb-3">
                            <strong class="d-inline-block mb-2 text-primary">Locations</strong>
                            <h3 class="mb-1">Calculate</h3>
                            <p class="card-text mb-3">Enter both locations below to calculate the antipode coefficient.</p>
                            <div class="mb-3">
                                <label for="address">Location A:</label>
                                <select type="text" class="form-control auto-complete" id="location_a" name="location_a" placeholder="e.g. Camberwell, London" required="" autocomplete="off"></select>
                            </div>
                            <div class="mb-3">
                                <label for="address2">Location B:</label>
                                <select type="text" class="form-control auto-complete" id="location_b" name="location_b" placeholder="e.g. Camberwell, Melbourne" required=""></select>
                            </div>
                            <div class="form-group mb-5">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="is_namesake">
                                    <label class="form-check-label" for="is_namesake">
                                        Is B the namesake of A?
                                    </label>
                                </div>
                            </div>

                            <div class="text-center">
                                <h5 class="card-text"><i>Antipode Coefficient:</i> <span id="antipode_coefficient">N/A</span></h5>
                                <p class="text-muted mt-3"><i>OR</i></p>
                                <p class="mb-5">Location B is <span id="antipode_coefficient_percent">N/A</span>% across the world from Location A</p>
                                <p id="result_appended" style="display: none">Result appended to <a href="{{ url_for('views.results') }}">results</a></p>
                            </div>
                            <button class="btn btn-primary btn" id="submit_locations" type="submit"><span class="h5">Submit!</span></button>

                        </div>

                    </div>
                </div>

                <div class="col-md-6">
                    <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm position-relative d-flex h-md-650">
                        <div class="col p-4 d-flex flex-column position-static">
                            <strong class="d-inline-block mb-2 text-success">Map</strong>
                            <h3 class="mb-1">View your locations</h3>
                            <p class="card-text mb-3">Display the locations below to see how far they are on a map.</p>
                            <div class="img-fluid rounded" id="map"></div>
                        </div>
                    </div>
                </div>

            </div>
        </section>

        <script>
            $('.auto-complete').autoComplete({
                resolverSettings: {
                    url: "{{ url_for('api.location') }}",
                    requestThrottling: 250,
                },
                minLength: 1
            });

            mapboxgl.accessToken = 'pk.eyJ1IjoiamFja3dhcmRlbGwiLCJhIjoiY2s3OHFhM2FrMGw3MjNlcDZ1dXRjbDVrbSJ9.kVVllFJ8ZVNBSGv7z0wLow';
            var map = new mapboxgl.Map({
                container: 'map',
                style: 'mapbox://styles/mapbox/streets-v11',
                zoom: -1,
            });

            var current_markers = [];

            $("#submit_locations").on("click", function () {
                if ($("#location_a").val().length !== 0 && $("#location_b").val().length !== 0) {

                    $.get("{{ url_for('api.calculate') }}",
                        {
                            "location_a_coordinates": $("[name='location_a']").val(),
                            "location_b_coordinates": $("[name='location_b']").val(),
                            "location_a_name": $("[name='location_a_text']").val(),
                            "location_b_name": $("[name='location_b_text']").val(),
                            "is_namesake": $('#is_namesake').prop("checked"),
                        },
                        function (data) {
                            $("#antipode_coefficient").html(data["antipode coefficient"]);
                            $("#antipode_coefficient_percent").html(Math.round(data["antipode coefficient"] * 100));

                            if (current_markers !== null) {
                                for (var i = current_markers.length - 1; i >= 0; i--) {
                                    current_markers[i].remove();
                                }
                            }

                            data.geojson.features.forEach(function (marker) {

                                var el = document.createElement('div');
                                el.className = 'marker';
                                el.id = 'marker' + '-' + marker.properties.class;

                                var new_marker = new mapboxgl.Marker(el)
                                    .setLngLat(marker.geometry.coordinates)
                                    .setPopup(new mapboxgl.Popup({offset: 25})
                                        .setHTML('<h5>' + marker.properties.title + '</h5>'))
                                    .addTo(map);

                                current_markers.push(new_marker)
                            });

                            $("#is_namesake").prop("checked", false);
                            $("#result_appended").show()
                        });

                } else {
                    $("#antipode_coefficient").html("N/A");
                }
            });
        </script>
    </div>
{% endblock %}