{% extends 'base.html' %}

{% block title %}
    Home
{% endblock %}

{% block head %}
    <script src="https://api.mapbox.com/mapbox-gl-js/v1.8.1/mapbox-gl.js"></script>
    <link href="https://api.mapbox.com/mapbox-gl-js/v1.8.1/mapbox-gl.css" rel="stylesheet"/>

    <style>
        .marker-a {
            background-image: url('{{ url_for('static', filename='img/A.png') }}');
            background-size: cover;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            cursor: pointer;
        }

        .marker-b {
            background-image: url('{{ url_for('static', filename='img/B.png') }}');
            background-size: cover;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            cursor: pointer;
        }

        .marker-antipode-a {
            background-image: url('{{ url_for('static', filename='img/antiA.png') }}');
            background-size: cover;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            cursor: pointer;
        }
    </style>

{% endblock %}

{% block body %}
    <div class="container">

        <div class="jumbotron p-4 p-md-5 text-dark rounded bg-dark" style="background-image: url('{{ url_for("static", filename="img/antipode_map.png") }}'); background-repeat: no-repeat; background-position: center; background-size: cover; background-attachment: fixed;">
            <div class="col-md-6 px-0">
                <h1 class="display-4 font-italic">How close are two locations to being opposite?</h1>
                <p class="lead my-3">If you take two locations, A & B, how close is the B to the antipode A? Or simply, what percentage of the way to the other side of the Earth, is B from A?</p>
                {#                    <li>how close is a location, B, to the antipode of A?</li> <li>How close is a location, B, to the antipode of A, if B is the namesake of A?</li></ul>#}
                <p class="lead mb-0"><a href="#calculate" class="font-weight-bold btn-outline-dark">Calculate</a></p>
            </div>
        </div>


        <section id="calculate">
            <div class="row mb-2">

                <div class="col-md-6">
                    <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm position-relative d-flex title-box">
                        <div class="col p-4 d-flex flex-column position-static mb-3">
                            <strong class="d-inline-block mb-2 text-primary">Locations</strong>
                            <h3 class="mb-1">Calculate</h3>
                            <p class="card-text mb-3">Enter both locations below to calculate the antipode coefficient.</p>
                            <div class="mb-3">
                                <label for="address"><span class="text-danger">Location A</span>:</label>
                                <select type="text" class="form-control auto-complete" id="location_a" name="location_a" placeholder="e.g. Camberwell, London" required="" autocomplete="off"></select>
                            </div>
                            <div class="mb-5">
                                <label for="address2"><span class="text-info">Location B</span>:</label>
                                <select type="text" class="form-control auto-complete" id="location_b" name="location_b" placeholder="e.g. Camberwell, Melbourne" required=""></select>
                            </div>

                            <div class="text-center">
                                <h5 class="card-text"><i>Antipode Coefficient:</i> <span id="antipode_coefficient">N/A</span></h5>
                                <p class="text-muted mt-3"><i>OR</i></p>
                                <p class="mb-5">Location B is <span id="antipode_coefficient_percent">X</span>% towards the opposite side of the Earth from Location A</p>
                            </div>
                            <button class="btn btn-primary btn btn-block mb-2 h5" id="submit_locations" type="submit">Submit!</button>

                        </div>

                    </div>
                </div>

                <div class="col-md-6">
                    <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm position-relative d-flex title-box">
                        <div class="col p-4 d-flex flex-column position-static">
                            <strong class="d-inline-block mb-2 text-success">Map</strong>
                            <h3 class="mb-1">View your locations</h3>
                            <p class="card-text mb-3">Display the locations below to see how far they are on a map.</p>
                            <div class="img-fluid rounded" id="map"></div>
                        </div>
                    </div>
                </div>

            </div>
        </section>

        <script>
            $('.auto-complete').autoComplete({
                resolverSettings: {
                    url: "{{ url_for('api.location') }}",
                    requestThrottling: 250,
                },
                minLength: 1
            });

            mapboxgl.accessToken = 'pk.eyJ1IjoiamFja3dhcmRlbGwiLCJhIjoiY2s3OHFhM2FrMGw3MjNlcDZ1dXRjbDVrbSJ9.kVVllFJ8ZVNBSGv7z0wLow';
            var map = new mapboxgl.Map({
                container: 'map',
                style: 'mapbox://styles/mapbox/streets-v11',
                zoom: -1,
            });

            $("#submit_locations").on("click", function () {
                if ($("#location_a").val().length !== 0 && $("#location_b").val().length !== 0) {

                    var location_coordinate_query_string = "location_a_coordinates" + "=" + $("[name='location_a']").val() + "&" + "location_b_coordinates" + "=" + $("[name='location_b']").val();
                    var location_name_query_string = "location_a_name" + "=" + $("[name='location_a_text']").val() + "&" + "location_b_name" + "=" + $("[name='location_b_text']").val();
                    var calculate_url = "{{ url_for('api.calculate') }}" + "?" + location_coordinate_query_string;
                    var geojson_url = "{{ url_for('api.geojson_point') }}" + "?" + location_coordinate_query_string + "&" + location_name_query_string;

                    $.get(calculate_url, function (coefficient_data) {
                        $("#antipode_coefficient").html(coefficient_data["antipode coefficient"]);
                        $("#antipode_coefficient_percent").html(Math.round(coefficient_data["antipode coefficient"] * 100))
                    });

                    $.get(geojson_url, function (geojson_data) {
                        geojson_data.features.forEach(function (marker) {

                            var el = document.createElement('div');
                            el.className = 'marker' + '-' + marker.properties.class;

                            new mapboxgl.Marker(el)
                                .setLngLat(marker.geometry.coordinates)
                                .setPopup(new mapboxgl.Popup({offset: 25})
                                    .setHTML('<h5>' + marker.properties.title + '</h5>'))
                                .addTo(map);
                        });

                    })
                } else {
                    $("#antipode_coefficient").html("N/A");
                }
            });
        </script>
    </div>
{% endblock %}