<!-- Page Content -->
{#        <div class="container section" id="calculate">#}
{#            <div class="card" id="content">#}
{#                <div class="card-body">#}
{#                    <div class="col">#}
{#                        <h2>What's the idea?</h2>#}
{#                        <hr>#}
{#                        <img src="{{ url_for('static', filename='lat-long.png') }}" class="img-fluid rounded float-right" alt="Responsive image">#}
{##}
{#                        <p>#}
{#                            Every location on Earth has an antipode, a location diametrically opposite to it.#}
{#                            Such that you could draw a straight line between a location and its antipode and it would pass through the centre of the Earth.#}
{#                            This means that a location and its antipode are as far away as possible.#}
{#                        </p>#}
{##}
{#                        <p>#}
{#                            If two points are opposite, we can call them antipodal. We can create a variable to help us understand how close to antipodal two points are.#}
{#                            I want to share an example but before it's useful to understand our <a target="_blank" href="https://en.wikipedia.org/wiki/Geographic_coordinate_system">geographic coordinate system</a>.#}
{#                        </p>#}
{##}
{#                        <h5>Latitude and Longitude</h5>#}
{#                        <p>#}
{#                            To determine any location on Earth we can use latitude and longitude to place the point.#}
{#                            Lines of latitude start at 0&#176; at the equator and move North and South towards the poles.#}
{#                            The North Pole is at 90&#176; N and the South Pole is at 90&#176; S.#}
{#                            <br>#}
{#                            Lines of longitude start at 0&#176; at the prime meridian in Greenwich and move East and West.#}
{#                            They meet again at the <a target="_blank" href="https://en.wikipedia.org/wiki/180th_meridian"><u>ante-meridian</u></a> or the <a target="_blank" href="https://en.wikipedia.org/wiki/180th_meridian"><u>180th meridain</u></a>#}
{#                            Latitude is#}
{#                        </p>#}
{##}
{#                        Let's work through an example: Camberwell is a district in South London#}
{##}
{##}
{#                        <h2>How does it work?</h2>#}
{#                        <hr>#}
{#                        <p>Simple: Enter two locations where and we'll return the Antipode Namesake Factor (WANF)</p>#}
{##}
{#                <a class="btn btn-primary btn-lg" href="#">Go! &raquo;</a>#}
{#                    </div>#}
{#            <div class="col-md-4 mb-5">#}
{#                <h2>Contact Me</h2>#}
{#                <hr>#}
{#                <address>#}
{#                    <strong>Jack Wardell</strong>#}
{#                    <br>Email: <a href="mailto:jackwardell@me.com">jackwardell@me.com</a>#}
{#                    <br>Github: <a href="https://github.com/jackwardell/antipodal">jackwardell</a>#}
{#                    <br>#}
{#                </address>#}
{#            </div>#}
{#                    <h4 class="mb-3">Locations</h4>#}
{#                    <form class="needs-validation" novalidate="">#}
{##}
{#                        <div class="mb-3">#}
{#                            <label for="address">Location A</label>#}
{#                            <select type="text" class="form-control auto-complete" id="location_a" name="location_a" placeholder="e.g. Camberwell, London" required="" autocomplete="off"></select>#}
{#                    <div class="invalid-feedback">#}
{#                        Please enter your shipping address.#}
{#                    </div>#}
{#                        </div>#}
{##}
{##}
{#                        <div class="mb-3">#}
{#                            <label for="address2">Location B</label>#}
{#                            <select type="text" class="form-control auto-complete" id="location_b" name="location_b" placeholder="e.g. Camberwell, Melbourne" required=""></select>#}
{#                        </div>#}
{##}
{#                        <button class="btn btn-primary btn-lg btn-block" type="submit">Submit!</button>#}
{#                    </form>#}
{#                </div>#}
{#            </div>#}
{#    <!-- /.row -->#}
{##}
{#    <div class="row mb-5">#}
{#        <div class="col-md-8 order-md-1 mb-5">#}
{#            <h4 class="mb-3">Locations</h4>#}
{#            <form class="needs-validation" novalidate="">#}
{##}
{#                <div class="mb-3">#}
{#                    <label for="address">Location A</label>#}
{#                    <input type="text" class="form-control auto-complete" id="location-a" name="location-a" placeholder="e.g. Camberwell, London" required="" autocomplete="off">#}
{#                    <div class="invalid-feedback">#}
{#                        Please enter your shipping address.#}
{#                    </div>#}
{#                </div>#}
{##}
{#                <div class="mb-3">#}
{#                    <label for="address2">Location B</label>#}
{#                    <input type="text" class="form-control auto-complete" id="location-b" name="location-b" placeholder="e.g. Camberwell, Melbourne" required="">#}
{#                </div>#}
{##}
{#                <button class="btn btn-primary btn-lg btn-block" type="submit">Submit!</button>#}
{#            </form>#}
{#        </div>#}
{#    </div>#}
{#        </div>#}
